{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}

    <section class="mt-0 blog-post-area top-line">
        <div class="container">
            <div class="row">
                <div class="blog-post-area-style">
                    <div class="posts mt-5 mb-5">
                        {% for post in posts %}
                            <div class="col-md-3">
                                <div class="single-post m-2">

                                    {% if post.photo %}
                                        <img src="{{ post.photo.url }}" alt="{{ post.title }}">
                                    {% else %}
                                        <img src="https://picsum.photos/300/201" alt="{{ post.title }}">
                                    {% endif %}

                                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                    <h4><span>Posted By: <span class="author-name">{{ post.author }}</span></span>
                                    </h4>
                                    <p>{{ post.content|truncatewords_html:20|safe }}</p>
                                    <h4><span>{{ post.created_at|date:'j F Y' }}</span></h4>
                                </div>
                            </div>
                        {% empty %}
                            <div class="row justify-content-md-center col-md-12">
                                <div class="col-md-7">
                                    {% include 'inc/_search.html' %}
                                    <div class="m-3 single-blog-area"><h2>Your search did not match any post.</h2></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% include 'inc/_pagination.html' %}

    </section>

{% endblock %}